.top_banner {

    border: 2px solid red;
    height: 5%;
    width: 100%;
    background-color: black;
    display: flex;
    box-shadow: 1px 5px 10px gray;

}

.umbc_logo {

    background-image: url("https://i0.wp.com/christinemallinson.com/wp-content/uploads/2022/09/umbc-primary-logo-cmyk-on-black.png?resize=1200%2C276&ssl=1");
    background-size: contain;
    height: 100%;
    width: 33%;
    background-repeat: no-repeat;
    border: 2px solid rgb(43, 70, 219);
}

.title {

    height: 100%;
    width: 33%;
    border: 2px solid rgb(238, 176, 41);
    font-size: 30px;
    color: rgb(238, 176, 41);
    content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
}

.input_line {

    margin-top: 80px;
    border: 2px solid aqua;
    width: 100%;
    display: flex;
    height: 8%;
    justify-content: space-between;

}

.filler {

    margin-left: 17%;

}

.input_boxes {

    margin-top: 20px;
    width: contain;

}

input[type=text], select {
    
    width: 35%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;

}

input[type=submit] {

    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 35%;

}


.report_button {

    margin-right: 5%;
    width: 10%;

}

.report_style {

    margin-top: 20px;
    width: 180px;
    height: 60px;
    border-radius: 40px;
    font-size: 26px;
    background-color: rgb(255, 62, 62);

}

.center_line {

    margin-top: 80px;
    border: 2px solid coral;
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-between;

}

.instructions {

    width: 20%;
    height: 100%;
    background-color: rgb(248, 243, 243);
    border-radius: 25px;
    box-shadow: 1px 5px 10px gray;
    justify-content: center;

}

.instruction_label {

    margin-top: 5px;
    height: 20%;
    width: 70%;
    background-color: rgb(238, 192, 192);
    border-radius: 25px;
    text-align: center;
    line-height: 120px;
    font-size: 28px;
    box-shadow: 1px 5px 10px gray;
    margin-left: 15%;

}

.instruction_list {

    margin-top: 5px;
    height: 75%;
    width: 70%;
    background-color: rgb(238, 192, 192);
    border-radius: 25px;
    text-align: center;
    line-height: 120px;
    font-size: 28px;
    box-shadow: 1px 5px 10px gray;
    margin-left: 15%;

}

.map {

    width: 40%;
    height: 100%;
    background-color: rgb(202, 199, 199);
    border-radius: 25px;
    box-shadow: 1px 5px 10px gray;
    justify-content: center;
    display: flex;

}

.map_visual {

    
    background-image: url("https://english.umbc.edu/wp-content/uploads/sites/242/2014/09/campus_map.jpg");
    
    height: 80%;
    width: 80%;
    background-repeat: no-repeat;
    border: 2px solid rgb(43, 70, 219);
    justify-content: center;
    display: flex;

}

.directory {

    
    right: 0;
    width: 20%;
    height: 100%;
    background-color: rgb(248, 243, 243);
    border-radius: 25px;
    box-shadow: 1px 5px 10px gray;
    justify-content: center;

}

.directory_label {

    margin-top: 5px;
    height: 20%;
    width: 70%;
    background-color: rgb(238, 192, 192);
    border-radius: 25px;
    text-align: center;
    line-height: 120px;
    font-size: 28px;
    box-shadow: 1px 5px 10px gray;
    margin-left: 15%;

}

.directory_list {

    margin-top: 5px;
    height: 75%;
    width: 70%;
    background-color: rgb(238, 192, 192);
    border-radius: 25px;
    text-align: center;
    line-height: 120px;
    font-size: 28px;
    box-shadow: 1px 5px 10px gray;
    margin-left: 15%;

}

.bottom_banner {

    position: fixed;
    bottom: 0;
    border: 2px solid darkorchid;
    width: 100%;
    height: 10%;

}

.bottom_stuff {

    width: 50%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: center;

}

.bottom_banner_links {

    width: 80%;
    color:rgb(255, 178, 62);
    display: flex;
    justify-content:space-evenly;
    line-height: 120px;
    font-size: 20px;
    font-weight: bold;

}

.link:hover {

    text-decoration: underline;

}